workflows/selecionar-e-postar.json
{
  "name": "Selecionar e Postar",
  "nodes": [
    {
      "id": "721b60db-8ec9-465a-80ee-6c2469db00f7",
      "name": "Agendamento",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30, "triggerAtMinute": 20 }] }
      }
    },
    {
      "id": "69204e9c-0022-46de-a78b-2ad4937ef7ad",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0],
      "parameters": {
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "1", "name": "evolutionApiUrl", "type": "string", "value": "https://SEU-DOMINIO-EVOLUTION.com" },
            { "id": "2", "name": "evolutionInstance", "type": "string", "value": "SEU_INSTANCE_NAME" },
            { "id": "3", "name": "groupJid", "type": "string", "value": "SEU_GRUPO_JID@g.us" },
            { "id": "4", "name": "amazonAffiliateTag", "type": "string", "value": "SEUTAG-20" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "dd4fc4ad-0a8e-4a50-9c24-cd954045b67b",
      "name": "Buscar Melhores Candidatos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [440, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT dc.platform, dc.product_id, dc.product_url, dc.product_name, dc.image_url, dc.current_price, dc.original_price, dc.discount_pct, dc.coupon_code\nFROM deal_candidates dc\nLEFT JOIN posted_deals pd ON pd.platform = dc.platform AND pd.product_id = dc.product_id\nWHERE dc.found_at > now() - interval '35 minutes'\n  AND (pd.product_id IS NULL OR dc.current_price < pd.last_posted_price)\nORDER BY dc.discount_pct DESC\nLIMIT 5;",
        "options": {}
      }
    },
    {
      "id": "f2a1b3c4-5d6e-47f8-9012-3456789abcde",
      "name": "Gerar Links Afiliados ML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Gera links de afiliado do Mercado Livre em lote, via a API interna usada pelo Linkbuilder\n// (mercadolivre.com.br/afiliados/linkbuilder#hub). Descoberta manualmente via DevTools em\n// 2026-07-14 — não é uma API pública documentada, pode mudar sem aviso.\n//\n// Autenticação por SESSÃO DE NAVEGADOR (cookie + CSRF token), não um token de API estável — os\n// dois valores abaixo precisam ser atualizados periodicamente quando a sessão expirar: abre o\n// Linkbuilder logado, DevTools > Network > Fetch/XHR, gera um link de teste, acha a chamada\n// \"createLink\", copia o header Cookie e o header X-Csrf-Token de novo.\n// NUNCA commitar os valores reais aqui — só editar direto neste node, na instância do n8n.\nconst ML_COOKIE = 'COLE_SEU_COOKIE_AQUI';\nconst ML_CSRF_TOKEN = 'COLE_SEU_CSRF_TOKEN_AQUI';\nconst ML_AFFILIATE_TAG = 'promodasqueridas';\n\nconst items = $input.all();\nconst mlItems = items.filter(i => i.json.platform === 'ml');\n\nconst affiliateMap = {};\nif (mlItems.length > 0) {\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://www.mercadolivre.com.br/affiliate-program/api/v2/affiliates/createLink',\n      headers: {\n        'Content-Type': 'application/json',\n        'Cookie': ML_COOKIE,\n        'X-Csrf-Token': ML_CSRF_TOKEN,\n      },\n      body: {\n        urls: mlItems.map(i => i.json.product_url),\n        tag: ML_AFFILIATE_TAG,\n      },\n      json: true,\n    });\n\n    for (const entry of (response.urls || [])) {\n      if (entry.created && entry.short_url) {\n        affiliateMap[entry.origin_url] = entry.short_url;\n      }\n    }\n  } catch (e) {\n    // Falha na geração de link (sessão expirada, etc.) — segue sem link de afiliado ML nessa\n    // rodada, em vez de travar a postagem inteira.\n  }\n}\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    ml_affiliate_url: affiliateMap[item.json.product_url] || null,\n  },\n}));"
      }
    },
    {
      "id": "c774fdd9-cdf7-497c-83be-306519d92edf",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 0],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "9f3b25be-7721-4e11-8f86-8a66bc37d867",
      "name": "Gerar Link e Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 120],
      "parameters": {
        "jsCode": "// Geração de link de afiliado por plataforma.\n// Amazon: concatena a tag na URL do produto.\n// Mercado Livre: usa o link já gerado em lote pelo node \"Gerar Links Afiliados ML\" (campo\n// ml_affiliate_url). Se vier null (sessão do ML expirada ou item não coberto), cai pra URL normal\n// do produto em vez de travar a postagem inteira.\nconst item = $json;\nlet affiliateUrl;\n\nif (item.platform === 'amazon') {\n  const sep = item.product_url.includes('?') ? '&' : '?';\n  affiliateUrl = `${item.product_url}${sep}tag=${$('Config').first().json.amazonAffiliateTag}`;\n} else {\n  affiliateUrl = item.ml_affiliate_url || item.product_url;\n}\n\nconst storeName = item.platform === 'amazon' ? 'Amazon' : 'Mercado Livre';\nconst emoji = item.discount_pct >= 40 ? '🔥🔥' : '🔥';\n\nlet caption = `${emoji} *${item.product_name}*\\n\\n`;\ncaption += `De ~R$ ${Number(item.original_price).toFixed(2).replace('.', ',')}~\\n`;\ncaption += `Por *R$ ${Number(item.current_price).toFixed(2).replace('.', ',')}* 🔥 (-${Math.round(item.discount_pct)}%)\\n\\n`;\nif (item.coupon_code) {\n  caption += `🎟️ Cupom: ${item.coupon_code}\\n\\n`;\n}\ncaption += `👉 Pegar promoção: ${affiliateUrl}\\n\\n`;\ncaption += `🛒 ${storeName}`;\n\nreturn [{ json: { ...item, affiliate_url: affiliateUrl, caption } }];"
      }
    },
    {
      "id": "49eddc7d-5ad5-49c4-9cb2-82cdcfc82898",
      "name": "Postar no Grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 120],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.evolutionApiUrl }}/message/sendMedia/{{ $('Config').first().json.evolutionInstance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { number: $('Config').first().json.groupJid, mediatype: 'image', media: $json.image_url, caption: $json.caption } }}",
        "options": {}
      }
    },
    {
      "id": "c7bd7c3e-0a3e-40f7-912d-9602ead60746",
      "name": "Registrar Postagem",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1340, 120],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO posted_deals (platform, product_id, last_posted_price, last_posted_at)\nVALUES ($1, $2, $3, now())\nON CONFLICT (platform, product_id)\nDO UPDATE SET last_posted_price = EXCLUDED.last_posted_price, last_posted_at = EXCLUDED.last_posted_at;",
        "options": {
          "queryReplacement": "={{ [$('Gerar Link e Mensagem').item.json.platform, $('Gerar Link e Mensagem').item.json.product_id, $('Gerar Link e Mensagem').item.json.current_price] }}"
        }
      }
    },
    {
      "id": "14cd7404-5ccf-4b9f-9697-a68007490b13",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [900, -120],
      "parameters": { "maxItems": 1, "keep": "firstItems" }
    },
    {
      "id": "da674d55-20a8-4ae1-85d1-7c56db19fc32",
      "name": "Fim",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, -120],
      "parameters": {}
    }
  ],
  "connections": {
    "Agendamento": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config": { "main": [[{ "node": "Buscar Melhores Candidatos", "type": "main", "index": 0 }]] },
    "Buscar Melhores Candidatos": { "main": [[{ "node": "Gerar Links Afiliados ML", "type": "main", "index": 0 }]] },
    "Gerar Links Afiliados ML": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] },
    "SplitInBatches": {
      "main": [
        [{ "node": "Limit", "type": "main", "index": 0 }],
        [{ "node": "Gerar Link e Mensagem", "type": "main", "index": 0 }]
      ]
    },
    "Gerar Link e Mensagem": { "main": [[{ "node": "Postar no Grupo", "type": "main", "index": 0 }]] },
    "Postar no Grupo": { "main": [[{ "node": "Registrar Postagem", "type": "main", "index": 0 }]] },
    "Registrar Postagem": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] },
    "Limit": { "main": [[{ "node": "Fim", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "America/Sao_Paulo" },
  "active": false,
  "pinData": {}
}
